{% extends "base.html" %}

{% block content %}
{{super()}}
 <h1> {{name}}  </h1>
 <img src={{foto}}>

<style>
.iksweb{display: grid;cursor: pointer; font-size:14px;text-decoration:none;padding:9px 27px; color:#000000;background:#ffffff;border-radius:10px;border:2px solid #000000;}
.iksweb:hover{background:#000000;color:#ffffff;border:2px solid #000000;transition: all 0.2s ease;}
</style>

<a class="iksweb" href=""   title="Кнопка"><center><font face="WIDE LATIN">RESTART</font></center></a>

{% endblock  %}

